#main_form_box a.sctble_display span {
	width: 100%;
}

/* ボタンスタイル */
#gantt_gantt_index .iPhoneButton,
#gantt_gantt_index .iPhoneButtonBlack {
  margin: 0 auto;

  border: solid 2px #2d3137;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  padding: 2px;
  text-align: center;
}
#gantt_gantt_index .iPhoneButton {
  background: -webkit-gradient(linear, left top, left bottom, from(#eeefef), to(#bdbfc2));
  background-color: #bdbfc2;
}
#gantt_gantt_index .iPhoneButtonBlack {
  background: -webkit-gradient(linear, left top, left bottom, from(#6b6e74), to(#282e37));
  background: #282e37;
}
#gantt_gantt_index .iPhoneButton a,
#gantt_gantt_index .iPhoneButtonBlack a {
  -webkit-border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: .3em 0;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
	display: block;
	color: #1C94C4;
	/*padding: 2px;*/
	color: #252525;
	font-family: Helvetica;
}
/*
#gantt_gantt_index .iPhoneButton a {
  color: #000;
}
#gantt_gantt_index .iPhoneButtonBlack a {
  color: #fff;
}
*/

#gantt_gantt_index .article_meta_top .banner {
	float: left;
	text-align: left;
	width: 30%;
}
#gantt_gantt_index .article_meta_top .meta_info {
	float: right;
	text-align: right;
	width: 67%;
}

#gantt_gantt_index .form_box_each span.label {
	float: none;
	font-size: 10px;
	text-align: right;
	padding-top: 4px;
	margin-right: 3px;
}

#gantt_gantt_index .form_box_each span.title {
	float: none;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-top: 4px;
}

#gantt_gantt_index .form_box_each .btnSpan {
	float: none;
	font-size: 10px;
	line-height: 0;
	padding: 0;
}

div#gantt_link {
	padding: 5px 10px;
	text-align: left;
	margin: 10px 0 5px;
	background-color: #F7F7F7;
}

div#gantt {
	background-color: #F7F7F7;
}

.gantt_due_date { background-color: #FA3939; }

#gantt_gantt_index div#list {
	width: 1500px;
}

div#gantt {
	padding: 10px;
}

table#gantt_chart {
	border: 1px solid #999999;
}
table#gantt_chart td {
	font-size: 10px;
	border: 1px solid #999999;
	vertical-align: middle;
	padding-top: 1px;
	padding-bottom: 1px;
}
table#gantt_chart td.month {
	border-left: none;
	border-right: none;
}
table#gantt_chart td.month_top {
	border-right: none;
}
table#gantt_chart td.day {
	width: 14px;
}
table#gantt_chart td.holiday_title {
	/*background-color: #FF9CCC;*/
	background-color: #B4B4B4;
}
td.holiday {
	background-color: #B4B4B4;
}
td.today {
	background-color: #FFADF8;
}
table#gantt_chart td.row_title {
	height: 14px;
	padding: 1px 2px;
}
table#gantt_chart td.title {
	padding: 0 3px;
}
table#gantt_chart td#estimated_time {
	font-size: 8px;
}
table#gantt_chart td input[type=text] {
	height: 10px;
	padding: 2px 0;
}

table#gantt_chart td form.editable button {
	padding: 0 3px;
}
