<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');

// サイトURL
define('BASE_URL', 'http://example.com/');

// DBサーバ接続設定
$GLOBALS['DSN']['default'] = array(
	'dbdriver' => 'mysql',
	'username' => '',
	'password' => '',
	'hostname' => 'localhost',
	'database' => '',
);

// 暗号化キー(ASCII文字列)
define('ENCRYPTION_KEY', '');

// 管理者メールアドレス
define('ADMIN_MAIL_ADDRESS', 'admin@example.com');


// headr, footer 関連設定

// 表示文言設定

// サイト名
define('SITE_TITLE_WEBMEMO', 'WebMemo');

// サイト説明
define('SITE_DESC_MAIN', '');

// SEO関連設定
define('SITE_DESCRIPTION', '');
$GLOBALS['SITE_KEYWORDS'] = array();

// copyright URL
define('COPYRIGHT_URL', 'example.com');

// copyright since
define('COPYRIGHT_SINCE', '2008');

// URL から HTML を取得する際に削除するタグ
//  PHP Simple HTML DOM Parser を使用( http://simplehtmldom.sourceforge.net/ )
$GLOBALS['UM_PERSE_URL_REMOVE_TAGS'] = array(
	'script',
	'iframe',
	'object',
	'form',
	'input',
	'select',
	'textarea',
	'nav',
	'[class=navi]',
);


// 外部サービス関連設定

// GoogleAnalytics使用設定
define('UM_USE_GOOGLE_ANALYTICS', false);

// GoogleAnalyticsID設定
define('UM_GOOGLE_ANALYTICS_ID', '');

// GoogleAdsense使用設定
define('UM_USE_GOOGLE_ADSENSE', false);

// GoogleAdsenseID設定
define('UM_USE_GOOGLE_ADSENSE_ID', '4671197912383497');

// 他のアフィリエイト使用設定
define('UM_USE_AFFILIATE_OTHER', false);

// Googleウェブマスター ツール
//   https://www.google.com/support/webmasters/bin/answer.py?answer=35659&hl=ja
define('GOOGLE_SITE_VERIFICATION_KEY', '');

// use twitter notify
define('UM_USE_TWITTER_NOTIFY', false);
define('UM_TW_CONSUMER_KEY', '');
define('UM_TW_CONSUMER_SECRET', '');
define('UM_TW_ACCESS_TOKEN', '');
define('UM_TW_ACCESS_TOKEN_SECRET', '');


// 機能設定

// 非公開環境での動作モード(ログインせず書き込み可能)
define('UM_LOCAL_MODE', false);

// レプリケーションされたDBを参照して動作する(管理画面へのログイン不可)
define('UM_SLAVE_DB_MODE', false);

// 引用記事表示機能使用設定
define('UM_USE_QUOTE_ARTICLE_VIEW', true);

// スマートフォン対応設定
define('UM_USE_MOBILE', false);

// RSSフィード機能使用設定
define('UM_USE_RSS_FEED', false);

// 「メモ」名称設定
define('UM_WEBMEMO_NAME', 'webメモ');

// 検索機能使用設定
define('UM_USE_SEARCH_MEMO', true);

//// お問い合わせ機能使用設定
// define('UM_USE_CONTACT', false);

// 自動ログイン許可IP
$GLOBALS['AUTO_LOGIN_ACCEPT_IP_LIST'] = array(
);

// アクセスを許可するIP
$GLOBALS['ALLOW_IP_LIST'] = array(
);

// 管理画面へのアクセスを許可するIP
$GLOBALS['ADMIN_ALLOW_IP_LIST'] = array(
);


// 表示関連設定

// サイドメニューの表示位置設定 (0:left  1:right)
define('UM_SIDEMENU_VIEW_MODE', 1);

// トップページの名称
define('UM_TOPPAGE_NAME', 'トップ');

// 引用記事の表示文字数
define('UM_QUOTE_TRIM_WIDTH', 500);


// ディレクトリパス設定
define('UM_BASE_DIR', BASEPATH.'../');
define('UM_DATA_DIR', UM_BASE_DIR.'/data');
define('UM_PUBLIB_DIR', UM_BASE_DIR.'/lib');
define('UM_PUBDATA_DIR', UM_BASE_DIR.'/public_data');

// バージョン情報
require_once(UM_DATA_DIR.'/version.php');


// module 設定

// 無効モジュールリスト
$GLOBALS['DISABLED_MODULES'] = array(
	'task',
	'welcome',
);


// session 設定
ini_set('session.gc_maxlifetime', 60 * 24 * 5);
ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 10000);
//session_save_path();


// 動的設定項目

// debugモード設定
switch (ENVIRONMENT)
{
	case 'development':
		$value = true;
		$display_errors = true;
		break;
	case 'testing':
	case 'production':
	default:
		$value = false;
		$display_errors = false;
		break;
}
define('DEV_MODE', $value);
ini_set('display_errors', $display_errors);
ini_set('display_startup_errors', $display_errors);

define('BASE_URL_PATH', parse_url(BASE_URL, PHP_URL_PATH));
